{% extends "base.html" %}

{% block content %}

<form id='form' method='POST'> {% csrf_token %}
{{form.as_p }}
<input type='submit' value='Create room' class='btn btn-primary'/>
</form>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Room name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  	{% for room in object_list %}

    <tr>
      <th scope="row">{{room.id}}</th>
      <td>{{room.name}}</td>
      <td><a href="{% url 'chat:room' room.id %}"  class="btn btn-primary">Enter room</a></td>
    </tr>

  	{% endfor %}
  </tbody>
</table>



{% endblock %}